<h1>This is the index</h1>

<div class="container" "row" "col-md-3">

      <% if current_user %>
      <center><p><%= link_to "Profile", "/profile", :class => "btn btn-info btn-sm" %></p></center>
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <% end %>
    </div>
  </div>
</div>


