<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %>!</h1>
    <p>And thanks for joining our global community! Here's a quick guide to get you started. </p>
    <p>To login to the site, just follow this link: <%= @url %>. </p>
    <p><h3><b> Make a Profile </b></h3></p>
      <p> Create your own personal page containing relevant info so that you can connect with other users and start hosting or going on tours right away!. </p><br>
    <p><h3><b> Find TourGuides </b></h3></p>
      <p> Make a new trip by selecting a city that you want to visit. You will see all tourguides residing in the area who are willing to take you on awesome adventures!</p><br>
    <p><h3><b> Create An Activity </b></h3></p>
      <p> Know of a super cool club, or authentic eatery in your city? Create an activity with name, description, and address and you'll be well on your way to connecting with great people and sharing your favorite local hotspots. </p><br>
    <p> Thats it! It's really that simple! So go on and login. </p>
    <p> Your adventures await </p> <br>
    <p><b> Have a great day, </b></p>
    <p> The LocalGuide Team </p>
  </body>
</html>