<center><h1> New Trip </h1></center>
 
  <form action="/all_trips" method="get">
  <center><fieldset> <br><br><br>
      <p>Country Visiting:
        <%= text_field_tag :value, nil, :placeholder => "Canada" %> 
      City Visiting:
      <%= text_field_tag :value, nil, :placeholder => "Montreal" %></p> <br>
      <p>Start Trip
        <%= text_field_tag :value, nil, :placeholder => "June 25th" %> <br><br>
      End Trip:
        <%= text_field_tag :value, nil, :placeholder => "July 9th" %></p> <br><br>
    <p><input type="submit" value="Submit"></p></fieldset></center>
  </form>