<h1>Recently created activity!</h1>

<p><h3>Activity: <%= @activity.name %></h3></p>
<p><h3>Description: <%= @activity.description %></h3></p>

<p><%= link_to "Back to Profile", profile_path(current_user), :class => "btn btn-info btn-sm"%></p>
