<footer>
<div id="footer">
  <div class="container">
    <p class="muted credit"><br>
    <p> Danielle Hill, Stephanie Aviles, Geraldina S. Alvarez 
    Made at Flatiron with <3 </p>
      </div>
    </div></p>
  </div>
</footer>