<footer>
<div id="footer">
  <div class="container">
    <p class="muted credit">
    <a href="http://ryanfait.com/sticky-footer/">this is the fake footer</a>
      </div>
    </div></p>
  </div>
</footer>