<footer>
<div id="footer">
  <div class="container">

    <p class="muted credit">
    <a href="http://flatironschool.com/nycfellowship/">Made with <3 at the Flatiron School</a>

    <p class="muted credit"><br>
    <p> Danielle Hill, Stephanie Aviles, Geraldina S. Alvarez 
    Made at Flatiron with <3 </p>

  </div>
</div>
  
<br>
</footer>
