<footer>
<div id="footer">
  <div class="container">
    <p class="muted credit">
    <a href="http://flatironschool.com/nycfellowship/">Made with <3 at the Flatiron School</a>
      </div>
    </div></p>
  </div>
<br>
</footer>
