<nav class="navbar navbar-inverse navbar-fixed-top" style ='background-color: #99CCCC;'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/" style = "font-family:Courier New;color:#333366">Local Guide</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav"></ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

  <center><p>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right"> 
    <% if current_user %>
      <%= link_to "Profile", "/profile", :class => "btn btn-info btn-sm" %>
       <%= link_to "Sign Out", signout_path, :class => "btn btn-info btn-sm"%>  
    <%end%>
      </p></center>